.sliderContainer {
    transition: all .3s;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    height:auto;
    margin-top: 1rem;
  }
  
  .sliderContainer img {
    object-fit: contain; 
    height: 100%; 
    transition: all .3s;
    border-radius: 15px;
    min-width: 100%;
  }
