.secContainer{
    overflow: hidden;
    transition: all .3s;
    margin-top: 10px;    
    width: 100%;
}
.slider2{
    border-radius: 15px;
    object-fit: contain;
    width: 100%;
    transition: all .3s;
}