.secContainer{
    width: 90%;
    overflow: hidden;
    transition: all .3s;
    margin-left: 200px;
    margin-top: 10px;
  
}
.slider2{
    object-fit: contain;
    /* height: 200px; */
    width: 100%;
    transition: all .3s;
}