.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    width: 250px;
    margin-top: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.modalContainer{
    /* height: 100vh; */
    margin-top: 6rem;
    margin-left: 3rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.orderContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.orderContent button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #B53471;
    margin-top: 1rem;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    transition: all 3s;
}